@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Cairo", sans-serif;
}
.container-course{
    margin:10px 20px;
}
.titel{
    background-color: #FCE8A6;
    margin: auto;
    border: 1px solid rgb(201, 201, 201);
    height: 40px;
}
.titel h4{
    font-family: "Cairo", sans-serif;
    text-align: center;
    padding: 5px 0;
    color: #707070;
}
.cards {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
.cards .card{
    width: 240px !important;
    background-color: #c9cbe63c;
    margin-bottom: 20px;
    border-radius: 6px;
    height: 350px;
    border: none;
    overflow: hidden;
}
.cards .card:hover .date{
    opacity: 1;
}
.cards .card .img{
    width: 100%;
    position: relative;
    height: 48%;
    
}
.date{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: #7070707c;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    opacity: 0;
    transition: all 1s;
}
.cards .card .img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    height: 50%;
}
.card .content h6{
    font-weight: bold;
}
.card .content p{
    font-size: 12px;
    text-wrap:balance;
    width: 100%;
}
.btne{
    text-decoration: none;
    padding:5px 10px;
    border: 1px solid #dbdbdb;
}
/* course page  style */
.container img{
    width: 100%;

}
.flip{
    width: 50%;
    margin: auto;
    height: 300px;
    overflow-y: scroll;
    img{
        width: 100%;
    }
}
.text{
    width: 80%;
    margin:20px auto;
    background-color: #c9cbe63c;
    padding: 10px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 0 0 100px 0;
        p{
            text-align: center;
            font-size: 1.3rem;
            text-wrap: balance;
            line-height: 2.3rem;
        }
}
.w-80{
    width: 80%;
}
.photos{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.photos .image{
    width: 60%;
    height: 350px;
    background-color: aqua;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}
.photos .content{
    width: 35%;
    line-height: 2rem;
    text-wrap: balance;
    text-align: end;
    font-size: 1.3rem;
}
.reverse{
    flex-direction: row-reverse
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: #00999922;
  padding: 50px;
  position: relative;
  overflow: hidden;
}
section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.4s ease;
}
section.active::before{
  opacity: 1;
}
.container1{
  max-width: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #fff;
  padding: 5px 10px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
 section.active .container1{
   visibility: hidden;
 }
.container1 .main-video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  visibility: visible;
  transition: all 0.4s ease;
}
section.active .container1 .main-video{
  transform:translate(-50%, -50%) scale(1);
  opacity: 1;
  pointer-events: auto;
}
.container1 .main-video video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container1 .main-video .close{
  position: absolute;
  top: -10px;
  right: -36px;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
  pointer-events: auto;
  opacity: 0.6;
}
.container1 .main-video .close:hover{
  opacity: 1;
}
.container1 .videos{
  position: relative;
  height: 200px;
  width: calc(100% / 2 - 5px);
  margin: 5px 0;
  cursor: pointer;
}
.container .videos::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
  pointer-events: none;
}
.container1 .videos video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: none;
  pointer-events: none;
}
.container1 .videos i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
  pointer-events: none;
}
@media (max-width: 750px) {
  .container1 .main-video{
    position: fixed;
    width: 83%;
  }
  .container1 .videos{
    width: 100%;
    height: 320px;
  }
}
@media (max-width: 600px) {
  .container1 .videos{
    width: 100%;
    height: 250px;
  }
}
.footer {
    width: 90%;
    margin: auto;
    background-color: #0f1832b9;
    color: white;
    padding: 20px 0;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}






































@media (min-width: 768px) and (max-width: 1024px){
    .cards .card{
        width: 30% !important;
    }
    

}







/* تحديد أنماط CSS للأجهزة التي يكون عرضها أصغر من 768 بكسل */
@media (max-width: 767px) {
  body {
      overflow-x: hidden; /* إخفاء التمرير الأفقي للجسم */
  }

  .cards .card {
      width: 80% !important; /* عرض بطاقة الكارد */
  }

  .container1 .main-video .close {
      color: #000; /* لون أيقونة إغلاق الفيديو الرئيسي */
  }

  .flip {
      display: none; /* إخفاء عنصر flip */
  }

  .photos {
      width: 100%; /* عرض لعنصر الصور */
      overflow: hidden; /* إخفاء التمرير */
      flex-direction: column !important; /* اتجاه محور العناصر الفرعية للعنصر */
  }

  .photos .image, .photos .content {
      width: 90%; /* عرض لعنصري الصور والمحتوى */
      text-align: center; /* محاذاة النص للوسط */
  }

  .photos .image {
      width: 80%; /* عرض لعنصر الصورة داخل العنصر */
      background-color: aqua; /* لون خلفية للعنصر */
  }

  .photos .image img {
      width: 100%; /* عرض للصورة داخل العنصر */
      height: 100%; /* ارتفاع للصورة داخل العنصر */
      object-fit: cover; /* تغطية الصورة داخل العنصر */
  }
}
/* @media (max-width: 414px){
  body{
    overflow-x: hidden;
  }
    .cards .card{
        width: 48% !important;
    }
    .container1 .main-video .close{
        color: #000;
    }
    .flip{
      display: none;
    }
    .photos{
      width: 100%;
      overflow: hidden;
      flex-direction: column !important;
    }
    .photos .image , .photos .content{
        width: 90%;
        text-align: center;
    }
    .photos .image{
      width:80%;
      
      background-color: aqua;
          img{
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
  }
} */


